$bg_primary: #202225;
$bg_secondary: #2f3136;
$bg_tertiary: #36393F;
$bg_quarternary: #40444B;

:export {
  bg_primary: $bg_primary;
  bg_secondary: $bg_secondary;
  bg_tertiary: $bg_tertiary;
  bg_quarternary: $bg_quarternary;
}